[2019-06-20 21:47] rekado opened #19 "License missing"
I would like to contribute to this project, but I cannot seem to find any license.  Could you please clarify under what license (if any) this project is released?

[2019-06-24 09:16] Z8lick commented on #19
Hi Rekado,

Thank you for your great interest in contributing to our project. At the
moment we have been deciding on which license works best for us as we are
also a company trying to create a sustainable business around our core
software offering so we may further develop and improve the software and
its overall value to those using the software.

Currently, we are in discussions of having either

[2019-06-24 14:03] rekado commented on #19
These are all very good potential licenses.  If you do pick the GPL v2 or v3 (my favourite) please consider including the "or later" upgrade clause to avoid incompatibility with other GPL software in the future: https://www.gnu.org/licenses/license-compatibility.html

This makes sense especially in the Guile world where lots of existing software is licensed under GPL v3 or later.

I don't have a p

[2019-07-01 11:46] rekado opened #21 "Use modules"
Currently, the files in the "fuctions" directory are just a collection of procedure definitions.  Actually using them requires loading them from that file.  The Guile way is to have files define modules, so that they can be used with `(use-modules (my module))` as long as they are on the GUILE_LOAD_PATH.

Using modules would also unlock compilation, which provides a significant performance boost.

[2019-07-01 11:48] rekado opened #22 "Avoid the use of `set!`"
It is better to avoid mutation with `set!` whenever possible.  In most cases where `set!` is currently used one could instead use simple let bindings or use higher-order functions such as `fold` (defined in `(srfi srfi-1)`).

[2019-07-01 11:52] rekado opened #23 "Make tests executable"
Currently, the `tests` directory contains examples, but they are not executable, so they cannot be used to automatically verify that the code still behaves as expected.

I suggest using srfi-64 to define executable tests.  See here for an example: https://git.savannah.gnu.org/cgit/gwl.git/tree/tests/processes.scm

[2019-07-03 19:27] rekado commented on #19
I'd still like to contribute, so I'm curious whether you've already decided on a license :)

[2019-07-03 19:36] Habush commented on #19
@rekado Sorry for the delayed response. I have added a GNU GPL v3 license to the project

[2019-07-08 16:19] mjsduncan opened #29 "make the name of (MoleculeNode 'Uniprot:xxxx') the symbol of it's expressing gene"
this will fix the 'N/A' name given to uniprot proteins added when the pathway protein switch is invoked, make the reactome uniprot names consistent (currently some are symbols, some are phrases, some have indicators of post translational modifications, etc).  it will also permit removal of 'has name' predicates from the knowledgebase.

[2019-07-10 18:39] mjsduncan commented on #29
thanks, hedra!

[2019-07-10 18:39] #29 closed

[2019-07-10 18:44] mjsduncan opened #34 "link pathway proteins to biogrid genes"
if the pathway protein switch is on and biogrid is selected, pathway proteins should be linked to a protein expressed by a biogrid gene

[2019-07-20 22:32] mjsduncan commented on #34
thanks, abdulrahman!

[2019-07-20 22:32] #34 closed

[2019-07-22 13:22] rekado commented on #19
Thank you!  It may be good to also add license/copyright headers to each of the source files, as this is considered best practise.

[2019-08-01 17:06] Habush commented on #21
@rekado You can check whether the PR solves the issue

[2019-08-06 14:19] #21 closed

[2019-09-04 15:45] #19 closed

[2019-09-04 15:48] Habush opened #40 "Add Multithreading support"
In the current version, all the annotation functions are executed sequentially. However, since there is a little dependency across the functions, it will be great to add multithreading support to improve performance.

All three annotation should run in their separate threads. But one catch here is, whether the parsing should be done in parallel or after all the annotations are done. If it is done

[2019-09-04 20:41] Habush commented on #40
@tanksha this will require your scheme to csv parser to parse result files for each annotation independently.

[2019-09-17 14:39] Habush opened #44 "Add unit tests for annotation functions"
The current code doesn't have any tests. This is a problem. Without tests, we cannot be confident the code does that it was intended to do. Adding unit-tests is a task that is long overdue.

We can start by adding tests to the three annotation functions at first and add more to the pattern matching functions.
this relates to #23.

[2019-09-20 08:43] Habush opened #46 "Fix the output interaction missing link in biogrid"
After PR #43, the output interactions between genes that interact with the main gene are missing.

[2019-09-20 09:30] #46 closed

[2019-12-27 20:24] linas opened #66 "build failures"
I get a warning and a crash on build:
[code]

I'll submit a fix for the warning shortly, and then go hunting for the missing module. ... the `configure.ac` should check for dependencies...

[2019-12-27 20:34] tanksha commented on #66
The bioscience module is required for bio atom types
https://github.com/opencog/agi-bio/tree/master/bioscience

[2019-12-27 22:37] linas commented on #66
OK, asfter fixing the above, I am now getting
[code]

[2019-12-28 00:47] linas commented on #66
OK, fixed that via pull req #68 ... next:
[code]

do we actually need `rnrs base`?

[2019-12-28 02:29] tanksha commented on #66
The json module we used is from https://github.com/Habush/guile-json @Habush has added some modifications.
As for the nyacc, we used it while parsing the scheme into json
http://download.savannah.nongnu.org/releases/nyacc/
To be specific, my installation version is nyacc-0.84.1

[2019-12-28 02:51] linas commented on #66
some of he warning messages removed in #69

[2019-12-28 02:53] linas opened #70 "test failure"
OK, got build and install to work. Now `make check` fails:
[code]

So
[code]

[2019-12-28 04:23] linas commented on #70
OK ... debugging ...

* The file `annotation/parser.scm` uses a function called `edge-info-pubid-set!` but this is not defined anywhere.
* This is also the case for `node-data` and `node-info-location` and `node-info-subgroup-set!`
* This is also the case for `make-graph` and `graph?`

This suggests that there is either some file that is not checked into git that defines these functions, or that i

[2019-12-28 04:30] linas commented on #70
Also several tests fails with exceptions:
[code]

I find it odd that it says "wrong-type-arg "map"`  because one of the warning that gets printed is
[code]
which suggests ... the wrong `map` is being used.  There is a work-around from this, in guile you can somehow say "from foo import blah as bar" to rename the imported symbol (`map`, in this case) to not collide with other symbols of the same na

[2019-12-28 05:40] linas commented on #66
Yes, I found nyacc version 1.0.0 which came out just 4 days ago.

I am also now on guile-json version 3.3.0 which came out on 31 Oct 2019

Between these two and the various pull reqs, I've gotten everything to build.

[2019-12-29 22:22] linas opened #73 "Run issues"
So, following the README, I loaded `datasets/smpdb_chebi_wname.scm` and then
[code]
which gives
[code]

So the leading single-quote seems wrong, single quotes are short-handle for `(quote stuff)`

[2019-12-29 22:25] linas commented on #73
After some guessing: this almost worked:
[code]
where are you trying to write files?  Shouldn't you ask the user where to write them?

[2019-12-30 01:14] linas commented on #73
Also, `,describe gene-go-annotation` prints a lonely `#f` so this needs documentation to be added.  Add docs by saying
[code]

[2019-12-30 08:15] Habush commented on #73
@linas if you see [here](https://github.com/MOZI-AI/annotation-scheme/blob/a2ee04481298caae58c16401e15d104cb59b8835/annotation/util.scm#L269), we look for a `RESULT_DIR` environment variable first to see if it is defined. If it isn't defined we try to write to `/root/result`. But I think we should just complain to the user the env variable isn't defined and also add it to the README.

[2019-12-30 17:41] linas commented on #66
Pull req #64 is the last remaining open build-related pull-req. My general impression, though, is that nothing in `build-aux` belongs in git -- for example, the link `test-driver -> /usr/share/automake-1.15/test-driver` which doesn't even exist on my machine.

[2019-12-30 17:54] linas commented on #73
Hmm. It would probably be best to not use environment variables, and instead pass the filename as a subroutine argument. At any rate, a simpler fix is to default to `/tmp` instead of `/root` -- that is what the `/tmp` filesystem is meant to implement: something that any user can write to, and is automatically cleaned up every now and then.  By contrast, the `/root` filesystem is meant for the pers

[2019-12-30 17:57] Habush commented on #66
If we remove the `build-aux` files from the repo, then users won't be able to run their tests locally? or may be I should move out the `test-driver.scm` file out of the `build-aux` dir and remove the directory from the repo?

[2019-12-30 18:02] Habush commented on #73
You are right. Actually, the `/root` is a remnant of the days where we were running the code only inside the docker as we didn't have a build system to build it locally and we wanted to save the files under the home directory which is `/root` in docker by default

[2019-12-30 19:15] linas commented on #73
Heh. Now its this:
[code]
presumably because `/tmp/result` doesn't exist ...

[2019-12-30 19:20] linas commented on #73
And the stuff written to the results file is *identical* to what `gene-go-annotation` returns. Perhaps it would be easier and more straight-forward to not write anything at all?  That way, *if* the user wants to save to a file, they just take the return-value from `gene-go-annotation` and save it or do whatever-else they want with it (I'm thinking, for example, saving it to postgres, as a part of

[2019-12-30 19:28] Habush commented on #73
We designed the annotation-scheme as a submodule of the annotation service and one of the requirements of the annotation service is that users should get the result of an annotation run as scheme files in the future event that they want to import them into their own atomspaces. That is why we are writing the results to the filesystem.

[2019-12-30 19:32] tanksha commented on #73
@linas we are actually writing the results as we provide options for the user to download the scheme, CSV and JSON results of the annotation. Beside that, we have a CSV parser which reads the scheme result from the files and covert into CSV (which can actually be done with out the need to write to file actually) But we do use the files for these purposes.

[2019-12-30 19:36] linas commented on #73
Sure, but what I'm saying is that the annotation should be untangled from the file-writing.  Thus, in the future, you can support other file formats; but also, maybe the user will want to annotate, and NOT write to a file (for whatever reason). It also allows annotation-servers to be built: instead of writing to a file, the annotation results are delivered on a socket, e.g. https, or whatever.

[2019-12-31 04:08] linas commented on #66
I don't know what will happen if you remove `build-aux`. I work with other packages that use automake/autoconf, and ... they don't have a `build-aux` directory.  Unit tests are usually somewhere else, e.g. a `/tests/` directory, and `make check` finds them just fine.  So, e.g. `/tests/Makefile.am` contains a line `TESTS = foo ... bar` listing all the tests to run for `make check`.

[2020-01-01 18:44] linas opened #76 "Remove build-aux directory"
Follow up to discussions in issue #66 This comment: https://github.com/MOZI-AI/annotation-scheme/issues/66#issuecomment-569859953_  I think everything will be cleaner and better if the unit tests live in thier own directory, and build-aux is managed by the build tools (i.e. remove build-aux)  I'll try this shortly.

[2020-01-01 18:45] #66 closed

[2020-01-01 23:30] linas commented on #76
This is fixed in pull req #80. It also has the happy side-effect of getting the unit tests to actually pass (fixing #70) !!

[2020-01-02 00:55] linas opened #82 "Use delete-dup-atoms instead of delete-duplicates"
I'm reading `annotation/functions.scm` and I notice the use of `delete-duplicates`.  If you are trying to doelete duplicate atoms, instead of other things, then using `delete-dup-atoms` will be usually be much faster, at least if there are more than 10 atoms in the list.

[2020-01-02 01:00] linas commented on #82
Actually, the usage there seems to be buggy: `delete-duplicates` is called, but then the return value is ignored so it's a no-op....

[2020-01-02 01:46] linas opened #83 "find-go-term is used inconsistently"
Sometimes the first argument to `find-go-term` is passed as a string, and sometimes as an atom. It cannot possibly be both ... well, maybe it can be, but that would be confusing and inefficient..

For example, here it is a string:

https://github.com/MOZI-AI/annotation-scheme/blob/7fc4538ba8fb60fb17fc1a728a078ef4fc3dffc1/annotation/functions.scm#L714-L722

because `(GeneNode a)` can only work if `

[2020-01-02 02:50] linas commented on #83
From what I can tell, `find-go-term` is always called with `p` being zero.  Perhaps this is not always the case?

However, for those cases where it is zero, it would be best to have a function that special-cases this.  The problem is that `find-go-term` has this kind-of complicated recursive structure, which is hard to understand, but disappears if p is zero....

Given how central this function se

[2020-01-02 03:12] linas opened #84 "Use #t and #f not string "True""
So if I do `grep True annotation` I find a dozen uses of `(if (equal? prot "True") ...)` and similar.  Instead of using the string "True", just say #t and that way you can write `(if prot ...)` The idea being that in scheme, #t and #f denote true and false...

[2020-01-02 03:20] linas opened #85 "General optimizations..."
~~So, in `rna.scm` I see this: `(list (cog-outgoing-set ...` This is pointless, because the outgoing set is already a list Wrapping it in a list again does nothing at all except waste cpu time.~~

~~That block of code would also run more efficiently if the if-tests were outside of the `map` instead of inside of it.  That way, the if-test wold be performed only once, instead of hundreds (or million

[2020-01-02 03:26] linas commented on #85
The `node-info` function returns a list that is always of length one.  Then `append` is used to concatenate this list onto another list.  If instead, it just returned a single atom, then `cons` could be used, for a minor performance boost.

[2020-01-02 03:46] linas commented on #83
Optimizations: in `gene-go.scm`, I see `(string-split namespace #\ )` being done inside a loop, but this is a loop constant, and can be moved outside of the loop.  Now, it might be the case that the guile compiler is smart enough to perform this optimization itself, but I wouldn't count on it.  For readability, just move it out of the loop.

Likewise, the `(if (equal?` should be moved out of the l

[2020-01-04 19:26] linas opened #88 "find-pathway-name should be written out"
This is a performance optimization: `find-pathway-name` performs a very simple search, ~~using a `GetLink`. it would almost surely be much faster if it was written out, long-hand.~~ Update: this previous statement might be completely false. I have not measured. The proposal below and in #97 might be a bad idea. I will try to measure, and get a better feel for what is going on. In the mean time, I'

[2020-01-04 19:31] linas opened #89 "is-cellular-component? appears to be buggy?"
Reading through the code for `is-cellular-component?` suggests its inefficient and probably buggy.

Buggy: it performs a loop, and sets a response for every acceptable item in the loop. But only the last response is ever kept! All the other loop iterations are discarded!  Do you really want to discard all answers, keeping only the last one?

Inefficient: the loop could be run in reverse, and termi

[2020-01-04 19:48] linas commented on #89
similar remarks for `is-compartment`... also things like this: `(if res #t #f)` because `res is already the desired value.  I am guessing that what you really wanted for `is-compartment` is the srfi-1 `any?` function, which returns true if any elements in a list satisfies a predicate, and returns false, if none of them do.

[2020-01-04 19:53] linas commented on #88
Similar remark for `find-name`

[2020-01-04 21:08] linas opened #90 "loading current datasets generates error"
While loading the current datasets, I get an error: ` In procedure unquote: expression not valid outside of quasiquote` its not clear which dataset provoked this. Investigating ...

[2020-01-04 21:26] linas opened #91 "Crash in gene-pathway-annotation when namespace is set."
Loading the current datasets, and running this:
[code]
results in a crash:
[code]

[2020-01-04 21:27] linas commented on #91
I'll bet that this is a manirestation of #83 where sometimes strings arre passed around, and sometimes atoms.

[2020-01-04 21:28] linas commented on #91
Note also: there is no crash when running with the default empty string for `#:namespace`

[2020-01-04 21:30] linas commented on #90
More details:
[code]
with backtrace:
[code]

[2020-01-04 21:31] linas commented on #90
Oh, never mind. The current dataset includes a file called `meta.json` which is not a scheme file. I tried to load it. My bad.

[2020-01-04 21:31] #90 closed

[2020-01-04 21:42] rekado opened #93 "Why fork guile-json?"
I see that in the Dockerfile a forked variant of guile-json is installed.  Why is the fork necessary?  I see that in the fork a bunch of fields are made mutable.  Mutation is pretty rare in idiomatic Scheme code, so I wonder why this is needed.

Since the fork is pretty young it would be great if we could undo it, perhaps by avoiding mutation in annotation-scheme.

What do you think?

[2020-01-04 22:12] linas commented on #89
Pull req #95 is a fix for one of these, I think it does what was intended.

[2020-01-04 22:35] linas commented on #89
See pull req #96 for the other fix.

[2020-01-04 23:03] linas commented on #88
Similar remark for `find-entrez`

[2020-01-04 23:31] linas commented on #88
OK, so I created an implementation for `find-name` in pull req #97 that does the lookup directly.  With some minor modifications, it could be used to handle all three cases.

I notice that all three of these are doing very basic EvaluationLink searches, of the form
[code]
and that, given `foo` and `bar` they want to find `baz` (or maybe given `baz`, they want `bar`). Given the austere simplicity o

[2020-01-05 03:11] linas opened #98 "Performance Status"
OK, this is not a bug report, but rather a status update (and a request that someone carry out the work mentioned below)

* I've queued up 9 pull reqs and 11 open issues .. please deal with these.
* After all of the above, I finally reproduced the `Too many heap sections: Increase MAXHINCR or MAX_HEAP_SECTS` error when running `gene-pathway-annotation`. I am currently retrying with a version of bd

[2020-01-05 03:16] linas commented on #88
Anyway, I don't really know what the performance impact of this may or may not be.  It is probably worthwhile to do this both ways, and measure.  Ideally, I'm thinking that a benchmark for this would be a good idea. See the https://github.com/opencog/benchmark repo.  I'll see what I can do.

[2020-01-05 03:24] linas commented on #98
I proposed in #88 that certain simple searches might run faster if done purely in scheme, andor in new custom C++ code.   But the extent of this is completely unknown. I have no idea what the performance difference is.  Also, even if the hit is large, we don't know what fraction of the total performance is affected. So, to that end, we need performance profiles. Here's what I got:

* I tried `linu

[2020-01-05 03:41] linas commented on #98
So here is a small instrumentation tool I just created:
[code]
Here is how I am using it in the code:
[code]
and then, for each of these, I did this:
[code]
It's kind-of tedious to add a bunch of these by hand, so if you have a better idea, do that. Maybe @rekado has some stunt that would be more elegant.

Then run for a while and then say:
[code]
to get usage reports. If things are still running,

[2020-01-05 04:22] linas commented on #98
Some example results:
[code]
So, looks like `reactome` is eating CPU, but not clear where.

[2020-01-05 05:57] linas commented on #98
To re-iterate the last remark ... looks like 88% of all CPU time is spent in the json library. I wouln't be surprised if that is where all the memory is leaking too, because I just don't see any memory-gobbling code anywhere in the `(annotation)` module.  It has warts and inefficiencies, but nothing quite like that.

One "obvious" solution is to proceed in a more batch-oriented fashion: first, do

[2020-01-05 06:18] linas commented on #98
FYI, I ran five more heavyweight genes: `HSP90B1 AP1G1 PPIB NDUFAF7 RBM5`, and some lightweights I didn't write down. The cumulative results are below:
[code]

As before, its clear that the json library is eating up almost all the CPU time. It appears that `add-pathway-genes` and `find-mol` are also eating CPU time, I believe this time its all lost in the pattern-matcher. So #88 may or may not hel

[2020-01-05 06:47] linas commented on #98
Also -- please re-open and merge pull req #80 -- it was closed with no explanation. Did you click on the wrong button?

[2020-01-05 10:32] Habush commented on #91
@tanksha wasn't gene `ECSIT` one of the two genes (the other being SKAP2) that were giving us issues? I thought you fixed the issue. Please check again

[2020-01-05 10:44] Habush commented on #83
Yes this is a bug, I will send a PR.

No, it isn't always the case. It is called with the parent option in the gene-go annotation which by default is 0.

Basically what it is doing is -  if the parent number is specified to be n, then it will find all the 0, 1....n-1, nth parents of a given atom. As there is no "native" way of doing this using the pattern matching functions (or is there?) we have

[2020-01-05 10:52] Habush commented on #70
These are imported from the `(json)` module which you can find [here](https://github.com/Habush/guile-json)

@tanksha can you check this? may be the new addition of the rna annotation broke it ?

[2020-01-05 18:36] linas commented on #83
I'm not sure what you are trying to say here. A call to `(cog-incoming-set ATOM)` returns a list of the "parents" (or rather, the containers or "hyperedges") of ATOM (a list of the Links that ATOM appears in).  You don't need the pattern matcher to obtain that. If you want the parents of the parents, etc. then certainly you can call recursively.

My complaint about complexity is that I tried to re

[2020-01-05 18:45] linas commented on #70
Performing `grep -r edge *` and `grep -r pubid *` on the json module gives exactly zero hits. This is for version 3.3.0 from October 2019.  Very clearly, it would seem that these functions were removed, and no backwards compat layer was provided.  That's actually very unfortunate; you're going to have to go out to the old versions, figure out what these functions did, and the  wheedle and plead wi

[2020-01-05 18:48] linas commented on #70
Anyway, the unit tests now pass for me (after the assorted pull reqs), so maybe you don't actually need this function? I also ran `gene-pathway-annotation` `gene-go-annotation` and `biogrid-interaction-annotation` (with parents=0) and never hit this function ... maybe its just old code that isn't being called any more?

[2020-01-05 19:17] rekado opened #99 "GUILE_SITE_GO_DIR is undefined"
The macro `GUILE_SITE_GO_DIR` is undefined but referenced in configure.ac.
If the intent is to determine the target directory for compiled Guile modules the macro `GUILE_SITE_DIR` should be sufficient as it sets the variable `GUILE_SITE_CCACHE`.

[2020-01-05 19:25] linas commented on #98
Update: last night, I assumed that `make-parameter` was a part of json.  This morning, I searched for `make-parameter` and discovered it was part of guile.  So: new conclusion:  It's not json that is causing trouble, its the combination of the `call/cc` plus the use of `make-parameter` that is creating an explosive gobbling up of RAM and CPU.  That is, the `call/cc` is probably creating zillions o

[2020-01-05 19:33] rekado commented on #98
Parameters are like global variables.  They should be used sparingly.
Objects could also be implemented with Guile records, which is a little nicer than plain closures.  There are only very few situations where a full `call/cc` is the right tool.  Even when you need continuations it's better to use delimited continuations (e.g. prompts).

So yeah: what's the purpose of using `call/cc` here?

[2020-01-05 19:35] rekado commented on #98
Generally, the code leans heavily on mutation and global state, both of which are unidiomatic in Scheme.  It seems to me that most if not all cases of mutation could be removed.  Parameters should probably be replaced with either an explicit configuration record / alist or other explicit arguments.

[2020-01-05 19:48] rekado commented on #70
@linas this project unfortunately uses a fork of Guile JSON.  These procedures don't seem to ever have been available in the upstream releases of Guile JSON.

[2020-01-05 20:09] linas commented on #70
Huh? Which project?

[2020-01-05 22:22] rekado commented on #70
I cannot reproduce the test failure when building with the fork of Guile JSON.  The tests fails with upstream Guile JSON.

[2020-01-05 22:29] rekado commented on #99
This is fixed here: https://github.com/MOZI-AI/annotation-scheme/pull/100/commits/5f8b1e1d09e92d22b47a37099a6c9a7d2dfa00ff

[2020-01-05 22:31] rekado commented on #23
This is no longer an issue as `make check` works and srfi-64 is used.

[2020-01-05 22:31] #23 closed

[2020-01-06 00:52] linas commented on #70
what fork? what upstream? I have 6 or 8 forks going right now, one fork for each open pull req. After applying all of these, all unit tests now pass for me,  If I recall, the test failures were really due to misconfigured `makefile.am` and `configure.ac`. One these are straightened out, everything works fine.  I'm waiting on the pull reqs to get merged; I'll close this then.

[2020-01-06 03:45] linas commented on #98
After some sleep and more time to think, here's a collection of performance tuning suggestions:

* Use gcc version 7.4 or newer; this provides a 2x performance improvement over gcc-5.4 in the pattern matcher performance. The difference is just immense. In particular, Ubuntu 16.04 LTS has the old, slow version, so it's critically important to run either ubuntu-18.04 or Debian stable (or a modern ve

[2020-01-06 05:17] linas commented on #88
I'm now trying to understand BindLink/GetLink performance.  Measuring the C++ code, while running`gene-go-annotation` I see this:
* Constructor forr BindLink/GetLink takes about 40 microseconds
* Average GetLink execution time is 55 to 65 microseconds.
* Average BindLink execution time is 3 to 7 millisecs, each. This includes the time to run the embedded GroundedSchemaNodes.

[2020-01-06 05:39] linas commented on #88
Using the find-name implementation as in #97, I'm measuring (using the previous scheme-based instrumentation code)
[code]

[2020-01-06 07:31] linas commented on #88
Based on further exploration of `find-name`, it appears that it is being called over and over again with the same arguments (or, at least, less than 100 different kinds of arguments). This means that some amount of CPU time could be saved by caching those values.  There are 3 or 4 different kinds of caching functions provided by opencog, for exactly this kind of usage -- see `make-afunc-cache` (ca

[2020-01-06 08:28] rekado commented on #70
I'm talking about "Guile JSON".  This project (MOZI-AI/annotation-scheme) uses a fork of "Guile JSON", namely this one: https://github.com/Habush/guile-json

This is the upstream of Guile JSON: https://github.com/aconchillo/guile-json

These two have diverged.

(I was only able to even use the Habush fork after patching its Makefile to have compiled Guile modules installed in the conventional loca

[2020-01-06 08:29] rekado commented on #70
FWIW, I see only one problem in this project's Makefile.am --- the use of an undefined m4 macro.  This is addressed in the first commit of this PR: https://github.com/MOZI-AI/annotation-scheme/pull/100

[2020-01-06 09:35] Habush commented on #98
@linas I removed the call/cc usage completely, please check the PR

[2020-01-06 09:41] Habush commented on #98
Yes, it is plagued with mutation. We wrote it like that initially because A) the code is used from python as submodule and has to maintain the state of requests B) While writing this code it was our first experience with Scheme and we had an OOP background.

Removing the mutation for the most part shouldn't be an issue ( I will send PRs). But it is difficult for the parser which has to maintain so

[2020-01-06 10:15] Habush commented on #89
@tanksha this looks good to me. But please test it before we merge it.

[2020-01-06 10:23] Habush commented on #93
It fork is needed to add custom records for parsing the scheme result from the annotation functions into json. It is mainly used in [parser.scm](https://github.com/MOZI-AI/annotation-scheme/blob/master/annotation/parser.scm). Please take a look if you have any suggestions, I can send a PR based on your suggestions

[2020-01-06 12:56] rekado commented on #93
I wonder if we could forgo the parser and use `read` instead to read the atomese expressions into S-expressions directly.

[2020-01-06 13:08] Habush commented on #93
@linas do you think this is feasible?

[2020-01-06 15:42] tanksha commented on #70
There is no test failure now. @linas I think you used the Guile Json from  https://github.com/Habush/guile-json which fixes the issue. closing this issue.

[2020-01-06 17:59] mjsduncan commented on #83
we can remove the "parent" option from the GO annotation functionality for the annotation service.  it's utility in connecting features with higher level GO concepts is something that can be done in later inference stages of analysis and isn't necessary for annotation.  is the simplification gained worth spending the time to refactor without it?

[2020-01-06 20:12] linas commented on #83
There is a factor of 20x slow-down associated with this particular call. (literally: parents=0 takes 300 seconds,  parents=1 take almost 2 hours)  So what is parents=1 actually doing, that it takes 20x longer? There is some complicated knot, tied right here; it needs to be unraveled, flattened out, so that the true source of 20x (and possible ways to fix it) becomes apparent.

For example: I've al

[2020-01-06 20:21] linas commented on #70
I am using upstream guile-json.

@tanksha  please re-open. ***DO NOT EVERT CLOSE A BUG REPORT  AND SAY THAT THERE IS NO TEST FAILURE***   (expletive deleted) ***YOU DO NOT HAVE A LOGIN ON MY MACHINE, AND YOU HAVE NO WAY WHATSOEVER TO TEST TO SEE IF THERE IS A FAILURE OR NOT***

This is extremely rude. Mike Duncan ask for my help because you guys have accumulated vast quantities of https://en.wikip

[2020-01-06 20:31] #89 closed

[2020-01-06 20:37] linas commented on #93
I do not understand what is being discussed here. I have not yet seen anything in the code that reads, writes or uses json in any way; so I can't comment on the json library. (I made a big mistake the other night; I thought the call/cc stuff was calling into json but this seems not to be the case.)

[2020-01-06 20:48] tanksha commented on #70
@

[2020-01-06 21:27] rekado commented on #70
@linas

This is precisely the problem.  You should not be using upstream Guile JSON, but the project-
specific fork as mentioned in the Readme file.

I'm not a developer of this project and I ran into the same problem you had using the original Guile JSON.  Upon realizing my mistake I built the fork of Guile JSON, noticed that it installs the compiled objects in the wrong location, patched it (in

[2020-01-06 21:30] linas commented on #98
Why do you need to parse anything at all? If you need to write json to a pipe or to a file, or whatever, can't you just write it directly? At any rate, none of the code that I looked at here requires json to do anything, so it's not clear why its even spec'ed in this repo.

[2020-01-06 21:43] rekado commented on #93
The atomese parser in parser.scm appears to do a lot of busy work that seems to be unnecessary.  It attempts to build JSON directly from a string representation of atomese.  That seems a bit convoluted because AFAIU atomese is in S-expression format (judging by the looks of the parser) --- so we can simply use Guile's `read` to turn an atomese string into a proper S-expression.

Now if the preferr

[2020-01-06 22:11] rekado commented on #93
After looking at the [diff](https://github.com/aconchillo/guile-json/compare/master...Habush:master) I think we can make this work without a parser and without a fork of Guile JSON.  Nothing about the graph data structure that's used in the fork of Guile JSON really depends on JSON, so the graph records might as well be built from S-expression inputs.

My recommendation for a first step would be t

[2020-01-06 23:23] tanksha commented on #91
@Habush this is not for ECSIT only, but there is a problem with cross-annotating GO from pathways. As there is no crash when running with empty string for #:namespace. I am checking where

[2020-01-06 23:57] tanksha commented on #91
@linas I have fixed this issue. check the latest push

[2020-01-07 00:19] linas commented on #93
@rekado The following comment may or may not be relevant and maybe you already know this, but, just to clarify things a bit:
 * "Atomese" aren't just "s-expressions"; each BlahNode or FooLink is typically backed by a C++ class, usually with a non-trivial constructor that can be cpu-hungry (and RAM-hungry, too).  If the goal is to merely convert s-expressions into json, then it would be bet to do t

[2020-01-07 01:17] linas commented on #93
Again -- perhaps this is fairly off-topic, perhaps its relevant -- but I just re-measured file loading. I have 15 files, from the mozi wget location, each one consisting of "pure" atomese s-expressions. I am loading these simply by saying `(load "/path/to/file/foo.scm")`  and it takes 831 seconds to load these (single-threaded, on a system that is also busy doing other things). Upon finishing load

[2020-01-07 01:45] linas commented on #98
I just now tried the patch #101 and am measuring `gene-pathway-annotation` I get the following instrumentation:
[code]
The total CPU time, as reported by `ps aux` is 5300 seconds (about 89 minutes) of the 5300, approx 750 was spent loading the dataset, so actually, only 4550 seconds actually processing.  GC has run for 1046 seconds. Of this, there were 500 GC seconds lost in file loading, so the o

[2020-01-07 03:37] linas commented on #70
Um, Look, this is really incredibly frustrating. It took me about a week to build this project. To find and fix all of the kinks and whacks in this project, so that it merely BUILDS.  Building the project should have taken half an hour, not a week. I am very frustrated that all of you guys are like "works for me" when obviously, you have all sots of environments set up that aren't out-of-the-box n

[2020-01-07 04:19] linas commented on #91
Closing, I assume this is fixed in pull req #102 (I will test later) Note however, that #83 where this first shows up, still remains unaddressed.

[2020-01-07 04:19] #91 closed

[2020-01-07 05:01] linas commented on #98
More analysis of `gene-pathway-annotation` I've now run this 4 times with parents=0 and each time, it calmly proceeds at 100% CPU for about 2 hours, when RAM usage starts to grow, slowly at first, and then ever-faster.  Examining `(gc-stats)` shows that much or most of this growth is on the guile side, not the AtomSpace side.

To narrow this down, I've added print statements to `gene-pathway-annot

[2020-01-07 05:43] linas commented on #98
OK, so ... 140 minutes in, the guile heap has started to grow more rapidly, we're now on gene 27 of 681, the guile heap is now 670MBytes .. but the length of `result` is only 30K so it is not that much larger: not enough to account for the enlarging heap.  Now, `pwlen` is 27 - so that is very modest, but it seems like the heap grows by 20MB or 50MB or 200MB every time that `pwlen` grows by one. So

[2020-01-07 06:29] linas opened #103 "optimize generate-interactors"
Based on the instrumented code results described here: https://github.com/MOZI-AI/annotation-scheme/issues/98#issuecomment-571395133 it seems that a significant amount of CPU time is spent in `generate-interactors`. Reading through the code, it appears that `biogrid-pairs-pathway` is a set of pairs of strings.  If a pair is NOT in the set, then it is "output".  To determine set-membership, `find`

[2020-01-07 06:33] linas commented on #103
Also: you may want to use SetLink instead of ListLink there, because it seems that you don't care about the order of var1 and var2 in the "interacts_with" predicate. SetLinks are unordered, so this will cut-down on your lookup efforts by a factor of two.

[2020-01-08 04:55] linas commented on #98
So `biogrid-interaction-annotation` completed without any failures. It took 26.4 wall-clock hours to run, or 30.25 CPU-hours. Of this, 7.4 hours was in guile GC. At the conclusion, the guile heap was 424MB of which 294MB was free. At the conclusion, RSS=4.6GB, and Virt=9.1GB RAM.  The final atomspace contained 9M atoms, which is about double the starting size of 4.6M Atoms. The output file was 250

[2020-01-08 05:42] linas commented on #103
OK, the patch provides a huge performance boost. Before the patch, I was seeing this:
[code]
With the patch, I get this:
[code]
so `generate-interactors` is now literally 150x faster. This shows up ni total pathway processing: so processing `RPS20` went from 4890 seconds (hour 20 minutes) to 1876 seconds (half-an-hour) so more than 2.5x faster.

[2020-01-08 05:47] linas commented on #103
The patch/hack is this:
[code]

I'm not submitting this as a pull request (yet) because this creates a one-shot set called `reported-pathways` which would need to be cleared out with each new start. The current API for `make-atom-set` doesn't offer any way of clearing it. (although you could just clobber it by saying `(set! reported-pathways (make-atom-set))` whenever you needed to clear it.)  Thi

[2020-01-08 06:08] linas commented on #103
The above does NOT eliminate the RAM explosion that starts after the first 27 genes are done, and `ERCC8` is started. It does arrive at the explosion much more quickly, though. There are less than 40K entries in `reported-pathways` when this starts to happen.

[2020-01-08 10:40] Habush commented on #70
I forked `guile-json` to add extra records and fields to help me parse the atomese to json.

I didn't send any PR upstream. The reason I didn't send any PRs is because this fork is specific to our use-case and doesn't help other users of the upstream repo.

It is not internal, it is publicly available on github [here] (https://github.com/Habush/guile-json) .  I don't know how github's search engin

[2020-01-08 11:18] rekado commented on #70
This is not correct.  I started from scratch after packaging all dependencies (cogutils, atomspace, etc) for Guix a few days ago.  I wrote the Guix environment definition file (see PR) based on what this project's readme file stated at the time, which includes a link to https://github.com/Habush/guile-json.  (It didn't notice this at first, because it was hidden behind the text "Guile JSON".)  And

[2020-01-08 20:25] linas opened #105 "PATCH: Fixes for pathway-hierarchy/check-pathway"
Based on the results described in this comment:

https://github.com/MOZI-AI/annotation-scheme/issues/98#issuecomment-571444301

it appears that the two functions `pathway-hierarchy` and `check-pathway` are responsible for the explosion in the guile heap usage, as well as being giant CPU-time losers.   To further ttrace this and fix this, I am using the following alternate implementation:
[code]

C

[2020-01-08 21:15] linas commented on #70
OK.

As a general rule of software development, you shouldn't do that. Imagine, for a moment, that instead you had forked glibc to add these records, or even forked the linux kernel, and then tried to get the rest of the world to use your forked version, instead of the maintainer's version.  That simply would not work, and this example is a smaller-scale example of the same.

Instead, you would cr

[2020-01-08 21:39] linas commented on #105
Update: this fixes the guile-stack explosion. Processing has moved forward with 67 of 681 completed in about an hour-and-a-half, with RAM usage holding steady at 3.8GB RSS, 5.3GB virt, guile-heap of 29MB and 25 seconds spent in guile GC.

Atomspace contents look reasonable:
[code]
so an additional 300K atoms have been created and added to the atomspace.

[2020-01-09 05:55] linas opened #106 "PATCH: optimize generate-result"
Pursuant to comment https://github.com/MOZI-AI/annotation-scheme/issues/98#issuecomment-571891078 and similar to issue #103 the speed of biogrid annotation can be more than doubled, with the code below.  Viz, before, the patch, perf is this:
[code]
after patching, its this:
[code]
The patch is this (i'm not making a pull req, because it requires additional cleanup for production code)  Also, plent

[2020-01-09 06:25] linas commented on #98
Summary wrap-up:

* The issue #105 shows how to fix the RAM-usage (guile-heap) explosion bug. The annotation now uses only about 3.8GB to 4.5GB or RAM
* The issues #103 and #106 show patches that more than double the performance of `gene-pathway-annotation` and `biogrid-interaction-annotation`. Additional optimization is possible with careful code review guided by timing measurements and timing in

[2020-01-09 10:50] rekado commented on #93
Yes, I understand.  Currently, the S-expression isn't executed but read in a round-about way via a parser.  I'm not suggesting to evaluate Atomese but to read the expression as data using `read`.  It's a lost opportunity to read something that has an S-expression representation as a plain string, when we could instead operate at a higher level.

[2020-01-11 01:44] linas commented on #85
The `add-loc` function contains this:
[code]
The MemberLink is a constant, and does not alter search results. It can be removed.

[2020-01-11 05:42] linas commented on #85
The file `UniProt2Reactome_PE_Pathway.txt.scm` contains structures like this:
[code]

I believe the AndLink serves no purpose whatsoever, and can be safely removed.  This will make loading slightly faster.

[2020-01-12 05:16] linas commented on #88
I'm going to close this as "bad idea"; I think I know where the slowdowns came from, and how to avoid them with `syntax-case`.

At any rate, twiddling this does not affect overall performance, this is not where the bottlenecks are.

[2020-01-12 05:16] #88 closed

[2020-01-12 13:10] #44 closed

[2020-01-12 13:11] #40 closed

[2020-01-14 05:28] linas opened #110 "PATCH: Cache pubmed-id lookup."
The simple caching below gives a 1.5x speedup for biogrid annotation.  I'm just cut-n-pasting the patch here, you have to adapt it to your own tastes.
[code]

[2020-01-14 05:32] linas commented on #110
With the above patch, I am getting 802 seconds execution time:
[code]

Prior to this patch, it was 1205 seconds:
[code]

(The above is after #2471 which gave a 10x speedup)

[2020-01-14 05:49] linas opened #111 "guile heap blow-up on file write"
Sorry to pester you with so many issues, but .. I can't keep track of them all without writing them down.
I ran the following:
[code]
It took 60 hours to compute (2.5 days) During the entire time, the guile heap was at 150MBytes -- I know because I printed the heap size after each gene. Then it went to write the results file: this took 5 minutes to write, and the guile heap exploded to 16GB during

[2020-01-14 14:38] linas opened #113 "PATCH: memoize locate-node, etc. for 1.5x perf"
The following patch speeds up my code by another factor of 1.5x for pathway searches. I'm posting here rather than as a pull req so that you can adjust it to your coding style.  See issue #98 for performance measurements.
[code]

[2020-01-14 14:52] tanksha opened #114 "Incorrect biogrid result"
In Biogrid annotation,

**(biogrid-interaction-annotation (list "IGF1") "DD" #:interaction "Proteins" #:namespace "biological_process")**

The result don't include a GO cross annotation (for genes from Biogrid). it works when the interaction type is of "Genes" but not when "Proteins".

[2020-01-14 15:25] Habush commented on #73
@linas are you still having issues running the code?

[2020-01-14 15:54] linas commented on #73
I don't know. At this time, I am carrying so many different patches and hacks, that I have not re-tried on a clean, fresh system.   I'll close this, and then later, when the dust clears, we can retry again on a freshly installed system.

[2020-01-14 15:54] #73 closed

[2020-01-14 20:39] rekado opened #116 "New test failures since recent merges"
As of commit 679ae5bd1c54dfc73ae5b9b28cf294f60fe8044f there are a bunch of new test failures:

- tests/parser-tests.scm has one new test failure (namely `edge-count`)
- tests/main-tests.scm cannot be run because the file `opencog_deps` no longer exists
- when the above problem is fixed, three new test failures are revealed: `parse-request`, `annotate-genes`, and `protein-goterm`.

There were no te

[2020-01-16 01:29] linas commented on #85
File loading performance could be increased by writing, at the start of the file
[code]
and then using that: `(Evaluation loc (List  ...))`

Also doing this for each gene, pathway, protein would also speed things a little bit:
[code]
By using such defines, you save a tiny amount of time to drop into the C++ code and atomspace, to perform the lookup. Also, the files get slightly smaller.

[2020-01-16 02:31] linas opened #117 "Implement more link types."
Search performance could be improved by creating and using more biospecifc link and node types. For example:
[code]
This would allow quicker discovery of all pathways.
[code]
The above is instead of
[code]
Maybe even
[code]
for specific named spatial locations

Even simple nodes for different tags would help:
[code]
The above would solve the need for regex searches that are currently used to find

[2020-01-17 21:19] linas commented on #105
BTW, I hope that its obvious, from the report above, what the correct fix is.  If not, let me know. It's a relatively small pull req.

[2020-01-24 03:36] linas opened #118 "Dataset issues - self-interaction"
The current dataset contains 2945 self-interacting genes. i.e. genes in the form of
[code]
This is a dataset issue, not a codebase issue; I'm reporting it here because I don't know where else to report it.

I am using the code below to manually clean this up.
[code]

[2020-01-24 03:58] linas opened #119 "Dataset issues - non-symmetric intractions"
This is another dataset issue bug report.  Gene interactions should be symmetric. But not all of them are marked as such. The current dataset has 537839 interacting gene-pairs. Of these, approx 193653 do not have a symmetric partner.  There are two possible fixes for this: (1) use a SetLink not a ListLink (2) use a script to generate the missing ones.  I am using the following script to clean this

[2020-01-24 13:57] tanksha commented on #119
@linas I will use SetLink as the it will help reduce the atomspace size and also will make the pattern matching query simpler than we have currently.

[2020-01-24 15:54] linas commented on #119
@tanksha -- of all the bug reports, this is a low-priority one; some of the others are more important, I think I nominated a list of bugs by important in #98

[2020-01-24 16:09] Habush commented on #119
@tanksha can you please explain your proposed solutions for the performance issue esp. for the `pathway-interactors` function under @linas's issue thread #98 so he can comment on it?

[2020-01-24 18:40] tanksha commented on #118
@mjsduncan can explain, but self-interacting genes are not a bug. They even have a PubmedID

[2020-01-24 18:49] linas commented on #118
Ah, OK. I was looking at it as a problem in topology, and thought these were .. weird.

[2020-01-24 18:49] #118 closed

[2020-01-24 19:26] tanksha commented on #119
@linas @Habush the `pathway-gene-interactors` function is one of the hangs and wanted to improve its performance by applying a PLN rule before doing the annotations which completes the graph with the links which will just be pulled later during the annotation. (Like the caching but not the same I guess)

The general functionality of the  `pathway-gene-interactors` function is for a pathway (in whi

[2020-01-24 19:52] linas commented on #119
This was fixed two or three weeks ago.  There are patches for it. If you go through the list of bugs and patches, you will find it.

When I say that I was able to make the whole system run anywhere from 20x to 100x faster, I am not kidding. You have to go thourgh the rather long backlog of patches and issues and resolve them.

[2020-01-24 19:53] linas commented on #119
with all patches applied, the atomspace never gets larger than 5GB in size.

[2020-01-24 19:59] linas commented on #119
Yes, I agree, this will help performance by avoiding senseless string searches and the associated overhead. However, this is a far more complex fix, than the currently open pull reqs and issues.  Most of the patches and suggestions are real easy and simple, and do not require large code changes.

Again - I recommend going through the existing issue backlog, in priority order (I gave a list of prio

[2020-01-24 20:09] Habush commented on #119
I thought adding new types is a simple thing to do, just specify it in an `atom_types.script` file and the cmake macros will do the rest like in the [agi-bio](https://github.com/opencog/agi-bio). So I don't understand how it is a complex fix? Can you please elaborate?

[2020-01-24 20:17] mjsduncan commented on #118
thanks for checking, linus!  2 or more copies of a protein can bind together to make a function unit.

[2020-01-24 20:21] linas commented on #118
@mjsduncan you are confusing me .. this is about gene interaction, not about proteins...

It's not that I'm checking .. I'm just fooling around with the data, and this one just pops out and hits one over the head.  It alters the results significantly, many things come out quite different because of this.  It's got a rather large effect on the data patterns.

[2020-01-24 20:39] mjsduncan commented on #118
except genes can only really interact via their expressed proteins or transcribed RNAs. but a gene that interacts with itself to self regulate expression and an "interaction" that is protein n-mer formation  are two very different things.  @hedra, can you post the pubmed id for an example self interacting gene?

[2020-01-24 20:41] mjsduncan commented on #118
@linas fyi this is the source of the interaction relations:  https://thebiogrid.org/

[2020-01-24 20:59] tanksha commented on #118
Gene MAP2K4 interacts_with MAP2K4
https://www.ncbi.nlm.nih.gov/pubmed/?term=9162092

[2020-01-24 22:41] linas commented on #118
Hmm. OK. Well, if that's the definition of `interacts_with`, then maybe there should also be a `regulates` ? I ask, because in the current datasets, about 3/5 genes have both `A interacts_with B` and `B interacts_with A` about about 2/5 have only one of these. So maybe it should have been `regulates`, which is inherently non-symmetric?  (This was the original point of #119)

[2020-01-24 22:48] linas commented on #119
well, its easy to add the types, but then you have to go and regenerate all of your datasets. (i.e. update the scripts that generate the datasets). Then you have to go into the annotation code, and rip out all the string compares .. and rip out all the `GroundedPredicateNode`s that do the string compares .. and fix all the patterns that use them, which means changing the arguments to all sorts of

[2020-01-24 22:54] linas commented on #119
Anyway - there's also a meta-issue, involving performance tuning.   There are two ways to do performance tuning.  These are:

1. Study the code, think about it, and think about how to rearrange it to go faster.

2. Instrument the code, and identify those parts that use the greatest amount of CPU time. Focus on fixing those.

Approach 2 gives much much better results than approach 1.  One only has

[2020-01-27 05:24] mjsduncan commented on #118
so by @tanksha 's reference MAP2K4 can phosphorylate copies of itself, it's not regulating it's own expression.  there is a `regulates` among GO biological processes, but this is between sets of genes, not genes.  i believe hedra is replacing the `ListLink`s with `SetLink`s to fix the missing reciprocal relationships you found.  more complex relationships will be added soon...

[2020-01-27 05:29] linas commented on #118
OK. Thanks. Just (double) checking.  I'm trying to do statistics on the whole network, and making it fully symmetric dramatically changes the connectivity of the network.

[2020-01-27 06:20] mjsduncan commented on #117
i like the idea of data source specific nodes, then the node names could be the exact reference id that could be pasted to the url for that data source to programmatically access associated info.

i propose starting with:

`ChEBINode` and `UniProtNode` that inherit from `MoleculeNode`

and

`ReactomeNode` and `SMPNode` that inherit from a new `PathwayNode`

[2020-01-27 17:22] tanksha commented on #117
@mjsduncan same will be applied for others

`GoNode` for Go terms, `RNANode` for RNA transcripts, `CLNode` for Cell types ?

[2020-01-27 17:30] Habush commented on #117
@tanksha why not separate node types for each cell types instead of a single `CLNode` type? Won't cells be matched by their type in the search functions?

[2020-01-27 18:45] tanksha commented on #117
@Habush CLNode is different, its for cell ontologies which is not in the bioAtomspace yet, Its like the GO ontologies (starts with GO:XXXXX) the cell ontologies or cell types (starts with CL:XXXXX)

[2020-02-04 04:08] mjsduncan commented on #117
@tanksha for the other types i suggest:
for RNAs there would be a `refseqNode` and a `ensemblNode` that inherit from moleculeNode
for ontology concepts there would be `ontologyNode` with names "GO:xxxx" and "CL:yyyy"
this way the node names can complete the reference url for it's respective database.

[2020-02-04 18:43] linas commented on #117
@mjsduncan I'm suggesting distinct names, e.g. `GoOntologyNode` and `ClOntologyNode` so that a pointless string-search can be avoided during pattern search. Current search code looks to see if the first three bytes of the string are `GO:` which is massively inefficient during searches. There is a proposal to implement a `RegexNode` in the atomspace that would mostly fix this inefficiency; see #247

[2020-02-05 20:35] rekado commented on #116
This is no longer a problem.

[2020-02-05 20:35] #116 closed

[2020-02-05 20:36] #99 closed

[2020-02-05 20:38] rekado commented on #93
This has been solved with commit https://github.com/MOZI-AI/annotation-scheme/pull/121/commits/40194a0cd1013398d027fd17bb106a1fb41172a0 , which removes the need for the Gulie JSON fork.

[2020-02-05 20:38] #93 closed

[2020-02-05 20:40] rekado commented on #22
This is addressed for the most part in this PR: https://github.com/MOZI-AI/annotation-scheme/pull/122

[2020-02-05 20:41] rekado commented on #84
This is addressed in PR https://github.com/MOZI-AI/annotation-scheme/pull/122

[2020-02-10 23:28] linas opened #124 "dataset issues: `(MoleculeNode "ChEBI:nan")`"
The dataset includes this: `(MoleculeNode "ChEBI:nan")` which is clearly wrong; we expect an integer here, e.g. `(MoleculeNode "ChEBI:15846")`  This  atom appears in 70766 different links; many of these are MemberLinks to pathways.

[2020-02-10 23:49] linas commented on #124
There also seem to be the following invalid pathways:
[code]
All SMP pathways should be of the form `SMPnnn` with `nnn`  being numeric digits.

[2020-02-22 23:08] linas opened #128 "Fix bugs in pull req #125"
Pull req #125 introduces a new bug, and ignores an existing bug... both should be fixed. See comments there for details.

[2020-02-23 00:18] linas commented on #113
The three suggested memoizations here are in pull reqs #129, #130 and #131

[2020-02-25 23:11] linas commented on #113
closing, the pull reqs have been merged.

[2020-02-25 23:11] #113 closed

[2020-02-25 23:15] linas commented on #105
Closing; pull reqs #126 and #127 have been merged.

[2020-02-25 23:15] #105 closed

[2020-02-25 23:40] linas commented on #103
TODO: investigate biogrid-genes and biogrid-pairs `make-paramter` for the same optimization...

[2020-02-25 23:56] linas commented on #103
Formal pull req is in #132

[2020-02-26 06:36] linas commented on #84
Several cases remain.

* A pair of boolean flags used to indicate whether or not coding and non-coding RNA markup should be done is encoded as `(ListLink (Concept "True") (Concept "True"))`  ... some minor performance gains, and some readability would be gains simply by using `(TrueLink)` and `(FalseLink)` instead.

* A boolean flag to indicate whether protein interactions should be done, or not,

[2020-02-26 06:42] linas commented on #83
closing, this appears to have been fixed at some point.

[2020-02-26 06:42] #83 closed

[2020-02-26 06:50] linas commented on #82
Closing, fixed in pull req #94

[2020-02-26 06:50] #82 closed

[2020-02-26 15:05] linas commented on #128
Closing, not a bug based on clarifying comments there.

[2020-02-26 15:05] #128 closed

[2020-02-28 12:32] Habush opened #134 "Create smaller datasets for unit-tests"
The current `sample_dataset.scm` is too big and takes a bit of time to load for unit-tests that test a specific functionality. So to reduce the test run times, it is better if each test dataset is tailored for that unit-test.

[2020-02-28 17:19] linas commented on #103
#132 is merged; closing.

[2020-02-28 17:19] #103 closed

[2020-02-28 17:27] linas commented on #106
#135 contains one bug fix mentioned above.

[2020-02-28 17:43] linas commented on #106
Closing, because #133 was merged.

[2020-02-28 17:43] #106 closed

[2020-02-28 17:50] linas commented on #84
There are several other cases where the usage of GroundedSchemaNode forces string or number arguments to be passed as atoms. These can be found by how they are decoded:
[code]
Some unknown (probably small-ish?) amount of performance is lost encoding and decoding these arguments (the first appears to be a list of strings; the second is just a number.)

[2020-02-28 18:09] linas commented on #110
Explicit pull req of this patch in #136

[2020-02-28 18:22] linas commented on #98
Closing; all suggested changes have been made.

[2020-02-28 18:22] #98 closed

[2020-02-28 18:56] linas commented on #134
FYI: last comment on issue #85 describes how file-loading performance could be improved.

[2020-02-28 19:49] linas commented on #70
FWIW, as of today, (28 Feb 2020) the unit tests still fail for me:
[code]

The failing tests are:
[code]

[2020-02-28 20:55] Habush commented on #70
@linas most of the test failures are due to the `map` function in `srfi-1`. Odd.

[2020-02-28 21:35] Habush commented on #70
Disregard my previous comment. I reproduced the test failures. Working on a fix

[2020-02-28 21:50] linas opened #141 "Performance diary, continued."
This is not an issue report; rather, its a performance diary, tracking performance from where #98 left off.

Instrumented code to be measured as follows:
[code]
Then, start guile, start cogserver:
[code]
Then load data, and run. Meanwhile, in another terminal:
[code]
This will print out the current profile of the currently-running code.

[2020-02-28 22:21] Habush commented on #70
The reason for the test failures is that the [upstream guile-json](https://github.com/aconchillo/guile-json) repo now converts JSON arrays to vectors instead of lists as it used to. I will send a PR to fix this issue.

[2020-02-28 22:36] rekado commented on #70
Yes, that's why I let the Docker image and the guix.scm specify the use of the older Guile JSON that used lists.

[2020-03-02 13:53] #114 closed

[2020-03-03 11:56] Habush opened #144 "Error while trying to run annotation"
I am trying to annotate BRCA1 genes and when I run the `annotate-genes` function, it fails with the following error:

`In procedure cog-outgoing-set: Wrong type argument in position 1 (expecting opencog atom): #<Invalid handle>`

The error happens in the [`run-query`](https://github.com/MOZI-AI/annotation-scheme/blob/d5119adc0060bef8f5d4ea6875ad270f309d54c2/annotation/util.scm#L190) function.  It

[2020-03-03 18:45] linas commented on #144
When I try to run the above, I immediately get the error:
[code]

[2020-03-03 18:48] linas commented on #144
Re: `SetLink` -- are you doing anything to delete SetLinks (besides deleting the SetLinks in `run-query` ?  Are you using child atomspaces? Yes, the caching will fail if the cache entry is deleted for some reason...

[2020-03-03 19:55] linas commented on #144
OK, after the above work-arounds (i.e. of manually loading all the needed annotation modules), it completes without error for me (in less than a second).

Please note that I am using the december 2019 version of the datasets; perhaps this bug depends on the datasets?  Do I need to get newer datasets? (from where?)

[2020-03-03 21:52] Habush commented on #144
The issue was with the version of datasets I was using. Now it is working.

Btw,

I think this should be improved and I will work on a  PR. do you have suggestions for better ways of loading specific modules instead of the `current-module`? may be @rekado can answer this too

[2020-03-03 22:07] Habush commented on #144
Uh, wait..I am trying to annotate the 800+ genes and after few minutes it crashed with the same error. Here is the annotation function I'm calling:
[annotation.txt](https://github.com/MOZI-AI/annotation-scheme/files/4283854/annotation.txt)

[2020-03-03 22:44] linas commented on #144
I'm just suggesting that, instead of saying `(define-module ...)` in each distinct file, that instead, just create one file: `annotation.scm` and then just say
[code]

[2020-03-03 23:23] linas commented on #144
OK, yes it crashed after 45 minutes. Stack trace:
[code]

line 119 of main.scm is `[result (par-map (lambda (x) (x)) fns)] `

My experience with guile parallel routines is that they are buggy. I don't know why.  In this partocular case, I was seeing guile run at 120% CPU, so it got almost no speedup at all (which is very typical). It is often the case that guile parallel routines run slower than s

[2020-03-03 23:29] linas commented on #144
Here's the full stack trace from `opencog.log`
[code]

[2020-03-04 03:13] linas commented on #144
Without the par-map, it ran for a while, then crashed with
[code]
That's a 4-gigabyte block .... I'm assuming that this is json-related, because, without json, total RAM usage never got above 5GB, and guile usage never got above 200MBytes .. but I dunno, will try again, shortly.

[2020-03-04 09:33] Habush commented on #144
I removed the `par-map` and the json code and it crashed with the following error after 37 minutes:
[code]

I think this is b/c I replaced `par-map` with `append-map`. But it looks like it has finished the annotation as I see the scheme files are written and from their size (e.g the pathway output file is 1.9GB) I guess it did the whole annotation

[2020-03-04 18:42] linas commented on #144
I conclude that the caching/memoization functions are not thread-safe; I will look at them and try to fix shortly.

Re: `map` and file-writing: I would strongly recommend that  this be done in some incremental fashion. i.e. rather than calling `append-map` in 101 different places in the code, and then passing around large return values, instead, create a function called `report-result` and call it

[2020-03-04 23:35] linas commented on #141
Running the unit test from #144 I get this:
* 16.8 GB virt, 9.4GB RSS over 136 minutes runtime (8177 seconds)
* guile has 200MB in use: per `gc-stats`
[code]
* report:
[code]
Manually breaking down the call-graph:
[code]

[2020-03-04 23:51] linas commented on #144
OK, if I stub out the json-printing at the end, everything completes. The file generation looks like so `(gc-stats)`

* At end of search: `(heap-size . 7639584768) (heap-free-size . 7435337728)` diff=200MBytes
* Then `(format #f "~a" results)` takes 270 seconds, blows up RAM: `(heap-size . 28142227456) (heap-free-size . 19253534720)` so guile is now using 10GB more, and I got error: `GC Warning: R

[2020-03-05 03:20] linas commented on #144
OK, after making numerous changes to the code, trying to improve performance (I've got it running maybe 4x faster? now) I did hit this, rather unexpectedly:
[code]
what's weird about the above is that more than 1200 of these `map1` things were printed, scrolling off the top of the screen. Typing in `,up` indicates that each one is a stack frame. I'm flabbergasted that the guile stack is over 1200

[2020-03-05 03:53] linas commented on #144
@rekado so -- any clue about guile's implementation of  `srfi-1 map`? The above stack trace makes it look like its not tail recursive. Maybe I'm misdreading, or maybe it doesn't matter, or maybe there's actually just some bizarre stale bug in guile's version of srfi-1 ???

[2020-03-05 12:50] rekado commented on #144
Yes, the format call is not great.  The new atomese-parser would work fine on a port, but the code converts things to strings and then reads from the string again, which is unnecessary.  The code should use the port interface directly.

[2020-03-05 13:01] rekado commented on #144
Guile's version of srfi-1 is a bit older, but even the latest version of the reference implementation of srfi-1 piles up `cons`es because the second argument to the `cons` is the recursive call.  So the latest reference implementation is not tail recursive.  Neither is the implementation in Guile (no matter if that's the one from boot-9 or srfi-1).

I think that's because `map` is actually `map-in

[2020-03-05 13:03] rekado commented on #144
I'm not sure of what the goal is here because I haven't been following the discussion closely.  Is a `map` really needed here?  Or can we fold instead?

[2020-03-05 13:06] rekado commented on #144
FWIW, the implementation of `map` in `(rnrs base (6))` *does* appear to be tail recursive (the definition is a bit hard to read).  It uses `reverse` at the end to restore order.  So maybe that's another thing to try.

[2020-03-05 14:39] linas commented on #144
The root cause of the assert is this: the cache contains the atom `(Set (GeneNode "HEXIM1") (GeneNode "HNRNPL"))` but this atom just happens to be the same as the return of an earlier query, and has been deleted. Thus, the hash table is hanging on to a bad reference, and throws the exception when accessed.  I am pondering a good fix right now.

[2020-03-05 14:48] linas commented on #144
@rekado for this code, the order of the `map` doesn't matter. But also (for this code) the amount of CPU-time in `map` is miniscule, so chainging/fixing this is not important. I was just ... surprised ... given how SICP and other texts explain tail recursion in chapter-one, that something as basic as srfi-1 map would not be tail-recursive.  Interesting; thanks for the notes.

[2020-03-05 14:57] linas commented on #141
Unit test from #144, after assorted fixes: 20.4 gb virt, 4.4 gb RSS,  43 minutes elapsed (2620 seconds) which includes time to load dataset.... which was 598 seconds. gc-stats is: `(heap-size . 7658577920) (heap-free-size . 7396917248) ` so 250MBytes of RAM used by scheme. The report:
[code]

[2020-03-05 15:47] Habush commented on #70
@linas are the test still failing on your side after the latest PR?

[2020-03-05 15:53] tanksha opened #148 "Test failure dueto these changes"
@Habush Tests are failing with the error
`(scm-error misc-error #f "~A ~S" ("vector-map: expected vector, got" (#<hash-table 557692c662c0 2/31> #<hash-table 557692c719a0 2/31> #<hash-table 557692c7a860 …> …)) #)`

Following the changes at PR https://github.com/MOZI-AI/annotation-scheme/pull/143
Please check them out.

[2020-03-05 18:45] linas commented on #70
Looks like they all pass!
[code]

[2020-03-05 18:45] #70 closed

[2020-03-05 18:53] linas commented on #110
closing, #136 was merged

[2020-03-05 18:53] #110 closed

[2020-03-05 18:58] linas opened #150 "Data-file size and loading enhancements"
File loading performance could be increased by writing, at the start of the file
[code]
and then using that: `(Evaluation loc (List  ...))`

Also doing this for each gene, pathway, protein would also speed things a little bit:
[code]
By using such defines, you save a tiny amount of time to drop into the C++ code and atomspace, to perform the lookup. Also, the files get slightly smaller.

_Original

[2020-03-05 18:58] linas commented on #85
Closing since #137 was merged, and #150 tracks the file-enhancement idea

[2020-03-05 18:58] #85 closed

[2020-03-05 18:59] linas commented on #76
Pull req #139 resolves the last remaining issue, here...

[2020-03-05 19:15] linas commented on #144
@Habush this is fixed in opencog/atomspace#2525

[2020-03-06 15:45] tanksha commented on #148
Its fixed now, I was using the guile-json from https://github.com/Habush/guile-json.git

I am now using the guile-json from https://github.com/aconchillo/guile-json

[2020-03-06 15:45] #148 closed

[2020-03-06 18:01] Habush commented on #144
@linas does this also fix the the thread-safety issue of the caches?

[2020-03-06 18:11] linas commented on #141
Some results on `find-mol`, using the same test cse as above.

The original find-mol:
[code]
refactor find-mol to use srfi-1 map instead of `GroundedSchema`
[code]
Refactor above to use srfi-1 `filter-map` instead of `GroundedPredicate`
[code]
Refactor above to cache the search results:
[code]
Calls to the pattern search:
[code]
Wow. That means that almost all of the time is spent in `add-mol-info

[2020-03-06 18:17] linas commented on #144
No ... but I have no clear evidence that the caches are not thread-safe.  I assumed that was the problem, at first, but don't really know if that is a problem.  The error message `#<invalid-handle>` is completely explained by it being a deleted Atom, whereas, if the guile hash functions weren't thread-safe, you'd see corruption or crashes of some kind. So, for now, I don't think thread-safety is a

[2020-03-06 18:19] linas commented on #144
p.s. regarding threading: it provides very little speedup; the huge impact on per is from caching assorted search results, viz. the other open pull reqs.

[2020-03-06 20:13] linas commented on #141
Results for `find-coding-gene`. First the original form:
[code]
then the cached version:
[code]
The cache-miss ratio is 8517/177359 = 4.8% so that's a big deal.

[2020-03-06 21:50] linas commented on #141
Here's the `find-rna` cache hit ratio. It alsi suggests that `filterbytype` is worth tuning:
[code]
So the miss ratio is 8853 / 184351 = 4.8%

[2020-03-06 21:57] linas commented on #141
Here's the results for `go-info` caching.  First, the original code, `find-go-term`
[code]
and an important piece of `find-go-term`:
[code]
After caching:
[code]
So grand-total `find-go-term` is 78/51 = 1.5x faster because `add-go-info` is 29/2.5 = 12x faster.

The cache-miss ratio for `go-info` is 3449/11047 = 31%

[2020-03-06 22:58] linas commented on #141
Today's results, all patches applied, measured on an idle system. Total timke: 824 seconds
[code]

[2020-03-07 02:52] linas commented on #141
Total elapsed time, at various points in master:
[code]

[2020-03-07 02:55] linas commented on #144
oh. Hmm. Just ran it with par-map, and hit `#<Invalid handle>` w/
[code]
so maybe there is a threading race, after all. Will examine tomorrow.

[2020-03-07 21:13] linas commented on #144
Using `par-map` in `main.scm`, I saw at least four exceptions of the form above, each for different GeneNodes, thus suggesting a race condition. I do not understand why the `catch` handler did not catch the exceptions.  I added a mutex to `afunc` for the form below:
[code]
but still got an exception. However, **this time** the exception was not in `afunc` but was instead this:
[code]

[2020-03-08 03:34] linas commented on #144
OK, I got `par-map` to work with the following two patches. It does reduce the total elapsed time to obtain an answer, but it splurges on CPU time to do it -- it provides a 1.5x speedup in exchange for 2.6x more CPU time. Detailed performance measurements in https://github.com/MOZI-AI/annotation-scheme/issues/141#issuecomment-596038145

The patches: one for the atomspace:
[code]
and one locally:
[

[2020-03-08 04:14] linas commented on #84
Most of the remaining cases are fixed in #149 and #156.  The last remaining case is in `find-rna` which is easy to fix, but can't be done until #156 is merged.

[2020-03-08 04:15] linas commented on #76
closing

[2020-03-08 04:15] #76 closed

[2020-03-09 14:26] linas commented on #111
At this time, I'm seeing a blow-up here:
https://github.com/MOZI-AI/annotation-scheme/blob/82c2bb4d76b1faf752b878a88283b096fa2d948f/annotation/main.scm#L120-L121

and it's the `(format #f "~a" result)` itself that is blowing up -- it requires a 10GByte string for the test case in issue #144

As discussed elsewhere, the correct solution is probably to have callbacks: every time there is data to rep

[2020-03-09 14:50] Habush commented on #111
I agree. But instead of callbacks I am thinking of using producer/consumer threads and using channels for communications, just like in [golang](https://golangbot.com/channels/).
I know that such concept has been implemented in guile by Andy Wingo but haven't really used it. You can find the guile library [here](https://github.com/wingo/fibers)

[2020-03-09 14:59] linas commented on #111
Yes! This seems quite reasonable. But you still need a callback, to let the consumer thread know that something is ready. (or to publish the results). The point of callbacks is you can use them for anything at all -- file-writes, database writes, producer/consumer threads, or some other queueing mechanism.  It's modular: if later on you decide to change how it's done, then there's only one small p

[2020-03-09 17:54] rekado commented on #111
Why not write to a port?

[2020-03-09 17:55] rekado commented on #111
I wrote back when I rewrote the parser that it's still inefficient because there's a needless conversion from an s-expression to a string, and from a string back to an s-expression.  But we can simply read from a port instead.

[2020-03-09 18:12] Habush commented on #111
Can we implement a producer/consumer b/n two threads just using ports? If so that will be a simpler solution. Can you please expand on the using a port solution? thanks.

[2020-03-09 18:20] rekado commented on #111
My concern is with these lines:

https://github.com/MOZI-AI/annotation-scheme/blob/82c2bb4d76b1faf752b878a88283b096fa2d948f/annotation/main.scm#L120-L121

and

https://github.com/MOZI-AI/annotation-scheme/blob/master/annotation/parser.scm#L165

In `main.scm` there's the deadly string conversion.  And in `parser.scm` there's `with-input-from-string`.  Instead of using `with-input-from-string` on `p

[2020-03-09 19:00] Habush commented on #144
@linas After merging PR #156, the annotation fails with the following error:

`In procedure append: Wrong type argument in position 2 (expecting empty list): #<unspecified>`.

The stacktrace points to [this line](https://github.com/MOZI-AI/annotation-scheme/blob/cc9f0f952af3ee7fe07beb07c370346f62837fa8/annotation/gene-pathway.scm#L109 ) in the code as source of error.

I am running the following a

[2020-03-09 19:09] linas commented on #144
Is this new failure with or without the `par-map`? If with, can you try without? Or rather, par-map should just be removed ... it costs more than it delivers ...

Is this the same list of genes as before, or different? Same annotation function as before, or different?

[2020-03-09 19:13] Habush commented on #144
Actually the issue is with the condition at https://github.com/MOZI-AI/annotation-scheme/blob/cc9f0f952af3ee7fe07beb07c370346f62837fa8/annotation/gene-pathway.scm#L112

It should return an empty list when `prot?` is false.

[2020-03-09 19:20] Habush commented on #144
the `biogrid-interaction-annotation` function is also not working. You can test it even with a single gene. I set the interaction argument to `Genes`

[2020-03-09 19:21] linas commented on #144
Ah, OK .. well ... umm... patch it then, don't wait for me to do it...

[2020-03-09 19:24] Habush commented on #144
I’m just letting you know :). I will send a PR with the fixes

[2020-03-10 13:41] Habush commented on #144
As an update, I was able to annotate 745 genes using a custom atomspace. And it took around 4 minutes.

However, now I am facing an issue trying to annotate gene `IGF1` using the sample dataset (`tests/sample_dataset.scm`).

After loading the sample dataset, I run the `annotate-genes` function as follows:

[code]

This fails with the following error:

[code]
I have attached the full stack trace.
[

[2020-03-10 13:51] linas commented on #144
Is this with par-map in `main.scm`, or with regular map?

[2020-03-10 13:56] Habush commented on #144
@linas it is with `par-map`

[2020-03-10 13:58] linas commented on #144
Please read everything I wrote above about par-map. I wrote a lot about it.

[2020-03-10 14:01] Habush commented on #144
I thought with changes you made to the atomspace, the issue with `par-map` was fixed, no?

[2020-03-10 14:06] linas commented on #144
I made no changes at all to the atomspace; I strongly recommend against using par-map. It is expensive: it gives you a 1.5x elapsed-time speed-up for 2.6x more CPU usage -- that's rather inefficient. If you really want to do this anyway, to reduce elapsed time, then I'm mostly thinking that the locks belong in the annotation code...

[2020-03-10 14:39] linas commented on #144
Independent of this particular issue, there are two generic problems I'm seeing with guile. Maybe @rekado can impart words of wisdom?

* `par-map` and `par-for-each` when used with the atomspace are always very inefficient, or worse. In the `learn` project, I was seeing 1.5x speedup for 2 cpus, 1.2x speedup for 3 cpus, a slight slowdown maybe 0,.9x for 4, and a massive slowdown/deadlock for anythi

[2020-03-10 17:42] linas commented on #141
Replacing `append` by `append!`, `map` bu `map!` and `append-map` by `append-map!` in this branch: https://github.com/linas/annotation-scheme/tree/bang made no difference whatsoever om performance or GC overhead:
[code]
but perhaps using `fold` would provide the desired improvement?

[2020-03-11 01:11] linas commented on #144
OK, so @Habush ull req #161 adds all the locks that you need.  No changes to the atomspace needed.

[2020-03-13 09:24] Habush opened #162 "annotate-genes returning empty list of nodes and edges."
After the latest improvements to the parser by @rekado, the `annotate-genes` function is returning empty list of nodes and edges. To reproduce this issue, load the `sample_dataset.scm` and run the annotation for `IGF1` as follows:

[code]
The above returns the following json:

[code]

[2020-03-13 10:55] rekado commented on #162
This has been merged quite some time ago.  Could you please add this case to the tests?

[2020-03-13 10:56] rekado commented on #162
FWIW, I see 4 test failures right now, all of them in test/main-tests.scm where hash tables are unexpectedly returned.

[2020-03-13 11:01] rekado commented on #162
I cannot reproduce this.  There's an earlier error:

[code]

I don't know if I did this right.  Would be better to have this as an executable test.

[2020-03-17 13:46] Habush commented on #162
@rekado Are you using the upstream [`guile-json` library](https://github.com/aconchillo/guile-json)?

[2020-03-17 14:54] rekado commented on #162
yes, of course.  I'm doing this in a Guix environment.

[2020-03-17 14:59] Habush commented on #162
It is the only reason that I can think of. B/c the earlier version of guile-json uses `hash-table` and the latest one uses `vector`.

[2020-03-17 15:07] rekado commented on #162
ah, you switched from version 1.x to the latest version.  The `guix.scm` file still refers to version 1.

[2020-03-17 15:10] rekado commented on #162
Same for the Dockerfile.  It still checks out version 1.2 of Guile JSON.

[2020-03-17 15:23] rekado commented on #162
See https://github.com/MOZI-AI/annotation-scheme/pull/163

[2020-03-17 15:25] rekado commented on #162
Still can't reproduce this:

[code]

Please add executable tests for this.  We won't get far like this.

[2020-03-17 15:46] Habush commented on #162
@rekado please import this modules first,
[code]

I want fix the module-loading issue but currently I don't how to search for a symbol in a specific module so that's why I am resorting to `current-module`

[2020-03-17 16:19] tanksha opened #164 "Avoid the use of ListLink with many outgoing nodes"
@linas @Habush

The scheme result of the annotation-service is supposed to be used for Pattern miner and PLN works. As the bio-atomspace is too big to work with, we wanted to have a smaller version by annotating the ~800 genes from the mosses model. The problem with the annotation result is it has additional **ListLink**'s ( which we used **For example** to return >1 hypergraphs on certain conditi

[2020-03-17 16:55] Habush commented on #162
Btw when running `annotate-genes` it prints the atomese result into stdout before returning the JSON. And I can't seem to find where it is coming from

[2020-03-17 18:36] rekado commented on #162
I can prepare a patch for looking up variables only in the specified module.  If you want to take a stab at it yourself, please take a look at 6.20.8 Module System Reflection in the manual.  `resolve-interface` is a good starting point.

[2020-03-17 18:39] Habush commented on #162
okay, thanks for the direction. I will work on PR and will ask you to review it.

[2020-03-17 18:45] linas commented on #164
? What does this mean? in what way is it "too big"? Does it not fit in RAM? Takes too long to load? PLN is too slow? Pattern miner is too slow?

I did not design this system, and I don't understand the data flow. If I "check here", I can clearly see that the ListLink is being used to wrap together a collection of related results. Why should things be wrapped together? I don't know -- I have to ass

[2020-03-17 18:47] rekado commented on #162
I still can't reproduce this, but I do get a different kind of error.  When I run this, the `unknown` case of the `expr->graph` procedure is triggered --- and then it spits out the unmatched expression.

The unmatched expression is a plain list of `ListLink` elements.   The parser does not support that.  It expects the data structure to start with one of the Atomspace types such as `Predicate`, `M

[2020-03-17 18:48] rekado commented on #162
This is the `pk` call in the `unknown` case, which has a comment above it that says: "This shouldn't happen".

It spits out the unmatched expression as a courtesy to the debugging person :)
(I'll make it pretty print this in a PR.)

[2020-03-17 19:17] tanksha commented on #164
I should say they are interested in experimenting with the ~800 genes only for now.

Two main reasons that we used ListLink
1. A function in GroundedSchemaNode calls, should return an opencog object (which makes us use ListLink instead of scheme list)

But as of now, we only have few GroundedSchemaNode so, it will be easier to get rid of the ListLink I think.

2. The result of annotate-genes funct

[2020-03-17 19:18] linas commented on #164
See #165 -- this moves the ListLink from `generate-result` to the users of `generate-result`, which should make it easier to remove, if desired.  There are many many other uses of ListLink all through that code, and until there is some general understanding of why these are needed, or what they do, they cannot be removed.

There are two or three different/related solutions that are possible.

* In

[2020-03-17 19:22] linas commented on #164
There are only five of these left. They could be eliminated.

Anyway, this is not the reason why ListLinks are all over the place.

[2020-03-18 04:39] linas opened #170 "Unit tests broken."
I now get
[code]

These were working a week ago ...

[2020-03-18 05:15] linas commented on #170
This was broken by commit bd03f5d66346c2b012a7a94a284a1a7a0b82d164

The problem is that `primitive-load` fails to search the path, and thus never finds the test dataset ...

[2020-03-18 08:36] Habush commented on #162
The reason it returns `'((ListLink ...) (ListLink ...) ...)` is because the output comes from running `map` on the request.

[2020-03-18 08:57] Habush commented on #162
I tested it with the following input and it still fails:

[code]

[2020-03-18 09:01] rekado commented on #162
How can I reproduce this?  To what procedure is this the input?

[2020-03-18 09:02] rekado commented on #162
Then you should also `map` the parser.  Is it known when the result is a single atomspace expression and when it is a list of atomspace expressions?

[2020-03-18 09:04] Habush commented on #162
[code]

[2020-03-18 09:11] rekado commented on #162
`atomese-parser` currently takes a *string* as its input, because it hasn't been changed to read directly from a port yet.

So it needs to be `(atomese-parser (format #f "~a" input))`.

[2020-03-18 09:15] Habush commented on #162
Oops, I should have mentioned that I have removed the string conversion and now the `atomese-parser` accepts s-expr.

[2020-03-18 09:22] Habush commented on #162
I think the pattern matching doesn't ignore whitespaces and newlines.

[2020-03-18 09:25] rekado commented on #162
Can you show your diff?

[2020-03-18 09:32] Habush commented on #162
Please check #171

[2020-03-18 14:46] #162 closed

[2020-03-18 15:43] linas opened #173 "Unit tests break on `string->list`"
Breakage due to pull req #172 -- see discussion there for work-around. I get `test-suite.log` with contents:
[code]

[2020-03-18 18:05] linas opened #176 "find-similar-gene seems to be incorrect?"
I suspect that `find-similar-gene` is performing it's tests in an exactly backwards manner... for example: `(find-similar-gene "SH")` returns the empty list, even though there are several genes that have names starting with `SH`.  By contrast, `(find-similar-gene "SHISA5asdfasdf")` returns a list of one gene: `((GeneNode "SHISA5"))`  ... surely, this is not what you wanted?  I'm thinking the searc

[2020-03-18 18:10] linas commented on #176
Closing, my bad.

[2020-03-18 18:10] #176 closed

[2020-03-18 18:50] linas commented on #84
Closing; all instances are fixed. ... well, `filter-pathway` still uses 0 and 1 instead of #t and #f but I'm not gonna mess with that.

[2020-03-18 18:50] #84 closed

[2020-03-18 20:21] linas commented on #141
With today's master, and also #175 #174 and #161:
[code]

[2020-03-19 14:28] Habush commented on #173
This is fixed in #178. Please check

[2020-03-19 15:29] Habush commented on #111
One thing I found out while trying to fix this issue is the parser, specifically the `expr->graph` function works only when the input is quoted. It doesn't work with s-expression that is not quoted, hence, it won't work with the output of the annotation functions. To this end,  I tried to quote the input like this:

[code]

But this one has no effect. @rekado do you have any suggesstions?

[2020-03-19 15:35] linas commented on #111
For readibility, just saying `(quote expr)` might be easier?

[2020-03-19 15:36] linas commented on #111
So `(for-each (lambda (e) (atomese->graph (quote e))) expr)`

[2020-03-19 15:38] Habush commented on #111
If I do `(quote e)` it will pass `e` to the parser not the atomese result

[2020-03-19 15:39] ngeiswei commented on #164
@linas to be clear the arity in question was in order of tenth of thousands. Replacing the atomese `List` by scheme `list` changed nothing, meaning it is IMO a limitation with guile rather an the atomspace. Nevertheless these large list links can and should be avoided as it's been agreed.

[2020-03-19 15:41] linas commented on #144
Closing because I think #161 fixes this. Open new report if there are remaining issues.

[2020-03-19 15:41] #144 closed

[2020-03-19 15:53] linas commented on #164
@ngeiswei OK, so here is what I see:  There are many places where a half-dozen searches are performed, to find gene interaction and protein expression and cellular location and what-not, and the result of these searches are a half-dozen "things" wrapped in a ListLink. I have no clue *why* those things are being wrapped in a ListLink; I assume some down-stream module needs them in these bite-size c

[2020-03-19 15:59] linas commented on #164
OK, well, so I looked. @ngeiswei there is this spot right here:

https://github.com/MOZI-AI/annotation-scheme/blob/26243ad7e3350647d91f7ab57252e90eb5de617c/annotation/biogrid.scm#L60-L61

The two ListLink's there wrap up lists with tens-of-thousands of entries in them

[2020-03-19 16:13] linas commented on #164
Also here:
https://github.com/MOZI-AI/annotation-scheme/blob/26243ad7e3350647d91f7ab57252e90eb5de617c/annotation/gene-go.scm#L44

and here:
https://github.com/MOZI-AI/annotation-scheme/blob/26243ad7e3350647d91f7ab57252e90eb5de617c/annotation/rna.scm#L50

and here:
https://github.com/MOZI-AI/annotation-scheme/blob/26243ad7e3350647d91f7ab57252e90eb5de617c/annotation/gene-pathway.scm#L68-L69

and her

[2020-03-19 17:38] ngeiswei commented on #164
Yeah, that's also what I recommended.

[2020-03-19 18:06] Habush commented on #164
The outer `ListLinks` (like the one you pointed above) are used for identifying from which annotation database (in terms of the code function, i.e whether gene-go, biogrid..etc) the results are coming from while parsing them to JSON.

[2020-03-19 18:11] linas commented on #164
@Habush what is this json format you speak of? Is it documented somewhere? Atomese was designed to look "json-like" but it's possible the design is not really good enough, and at any rate, very few active users think of it as being json-like, (with you being almost the sole exception).

[2020-03-19 18:14] tanksha commented on #164
So, Based on Nil's recommendation, the result of each annotation will have a MemberLink to the conceptNode (which is the name of the annotation) for example the following biogrid results will each have a MemberLink to the conceptNode  (ConceptNode "biogrid_interaction_annotation") ?

[code]

[2020-03-19 18:30] linas opened #179 "atomese->json and json->atomese"
@tanksha and @Habush I have a generic idea I want to explore. How many of the biome datasets are available in json format?

I'm thinking that it might be worth creating a generic json->atomese importer, and a generic exporter. However, this would work only if

1.  the input json dataset formats are not badly/insanely designed (i.e. the resulting imported atomese would have to look reasonable enoug

[2020-03-19 18:41] Habush commented on #164
I was explaining the reason why the outer ListLinks (`(ListLink (Concept "biogrid-interaction) ....)`) are being used right now. It is to help the parser group nodes and edges. And by group I mean simply add a `group` field to JSON objects.

But like @ngeiswei suggested and @tanksha demonstrated above, this could be replaced with `MemberLink`s. Although as you said, I am also unsure how having tho

[2020-03-19 18:49] Habush commented on #179
We don't store any of the dataset in json format. The atomese to json conversion happens on-the-fly after running the annotation.

We are currently converting the atomese into a specific JSON format which we use for a specific purpose (visualization). But if we are to design a generic importer/exporter we should ignore the current format we are using and start from a scratch to specify a schema/fo

[2020-03-19 18:52] Habush commented on #164
BTW @linas this, in a way relates, to what you suggested a while ago: to decouple the annotation and the parser code and the develop the annotation module into its own separate system.

[2020-03-19 19:12] linas commented on #164
My NLP databases have dozens of millions of atoms in them. A few thousand is a drop in the bucket.  Your databases ... I'm not sure, but I'm guessing that your default datasets have around a million atoms (I will measure this shortly) so a few thousand more doesn't affect anything.

Large ListLinks do not hurt the atomspace, and it might be slightly more efficient to have one large ListLink.  Buit

[2020-03-19 19:21] tanksha commented on #164
@Habush I think the existing parser code can be modified to get group information from the MemberLink (as it was getting from the ListLink previously)

[2020-03-19 20:29] linas commented on #179
You should continue to do that, and I am NOT recommending that this be replaced or changed in any way.

I am asking a different question.  There are datasets -- gene ontologies, proteome datasets, the GGI and PPI datasets, etc. for with @tanksha has written importers. Again, I am NOT recommending that those importers be thrown away or re-written. They work, so that's good enough.

What I'm asking

[2020-03-19 20:45] rekado commented on #111
The backtick is syntax for quasiquote, the comma is unquote.  Doing `(quasiquote (unquote e))` is equivalent to just `e`.

`(quote e)` won't give you what you want, because that's just the symbol `e`.

The `atomese-parser` does indeed expect an S-expression.  Previously, we did get an S-expression as an argument here.  It was obtained through this odd conversion from data to string to S-expression

[2020-03-19 20:57] linas commented on #164
The database I've been loading, from late Dec 2019 has a total of 6.7 million atoms in it -- 6757334 to be precise. The breakdown is:
[code]
so -- half-a-million ConceptNodes, almost 2 million MemberLinks, almost 2 million EvaluationLinks, 400K proteins, 50K genes ... this is using up 3.8GBytes RSS on my system, 4.3 GBytes virtual, so that works out to about 600 bytes/Atom  (In my NLP datasets, it

[2020-03-19 21:06] linas commented on #179
@rekado please let me know if you have any opinion about this.

[2020-03-21 15:23] mjsduncan commented on #179
@linus, smbl isn't available in json but it is convertible to OWL (via [bioPAX](http://sbml.org/Software/Converters)), and all the [bio-ontologies](http://www.obofoundry.org/) we want to import are also available in OWL.  a wizard/toolkit/pipeline for translating OWL format to atomese would be hugely useful.
translating the bulk databases could be done via json because they all have api's, but in

[2020-03-21 18:08] mjsduncan opened #180 "installation fails, installation script can't find installed bioscience module."
i get this trying to install:
[code]
even though it's installed:
[code]
i have `(use-modules (opencog))` in ~/.guile but guile still has problems finding it:
[code]
what am i doing wrong?

[2020-03-23 15:56] Habush commented on #180
@mjsduncan can you run `sudo ldconfig /usr/local/lib/opencog` and re-try?

[2020-03-23 16:07] mjsduncan commented on #180
that works, thanks!

[2020-03-23 16:07] #180 closed

[2020-03-25 08:50] Habush commented on #111
The original expression is Atomese. Something like `(ListLink (ConceptNode "A"))`

[2020-03-26 14:41] Habush commented on #173
@linas is this still an issue?

[2020-03-26 14:46] Habush opened #183 "Refactor generate-result function"
The `generate-result` returns list of many things at the same time. I think it should be broken up into smaller functions that each return a single result. This can help us avoid having every huge lists in the result.

[2020-03-26 14:50] Habush opened #184 "Add support for STRING database"
[STRING](https://string-db.org/) database has more interaction data than BIOGRID, which is the current protein-protein interaction database we are using.

[2020-03-26 15:20] linas commented on #173
no longer an issue, closing

[2020-03-26 15:20] #173 closed

[2020-03-26 15:57] tanksha opened #185 "Add more relationships for GO terms"
The Go-plus dataset has more relationships for GO terms including regulates and part_of, we already have the dataset imported, we need to add the Pattern matching queries for searching such patterns.

[2020-03-26 22:09] tanksha opened #187 "The find-genes function requires a fix"
There is a potential issue with the `find-genes` function. It is supposed to do the following

Before we do the annotation for a given list of genes, we look for the gene:

=> if the genes exist in the atomSpace, proceed to do the annotations

=> If not (i.e one or more genes in the list doesn't exist in the atomspace), then

a) Check if the gene symbol is outdated and suggest the user to use the

[2020-03-28 01:30] linas commented on #119
fixed in pull req #189

[2020-04-01 21:45] #119 closed

[2020-04-08 10:50] Habush commented on #187
@tanksha please check if this issue still persists

[2020-04-08 14:05] tanksha commented on #187
it has been fixed, closing it.

[2020-04-08 14:05] #187 closed

[2020-04-08 14:28] tanksha opened #192 "Expand the service to be able to search nodes other than GeneNode"
The current annotation service only accepts a Gene symbol and annotates with (or searches for) its GO terms, pathways and biogrid interactions. These needs to be expanded to be able to annotate proteins, GO terms, Pathways, and ChEBI's as well.

If the input is Protein, search and return the following

- Its GO terms
- the Pathways the given protein is in and the other proteins in the pathway
- th

[2020-04-09 10:01] Habush commented on #192
@tanksha How about expanding the service to include drug databases?

[2020-04-10 10:03] Habush commented on #184
@tanksha We also need to update the sample dataset to include STRING

[2020-04-13 16:58] Habush opened #193 "memoize-function-call doesn't work as expected"
Hi @linas, I am adding new functions to support [STRING](https://string-db.org/) and I'm trying to use the caching utitlity function you added, i.e `memoize-function-call`. However, instead of the returning a result, it is returning a procedure that accepts a single atom. Here is the code I wrote

[code]

Now, calling `(cache-find-ggi (Set (Gene "A") (List (Concept "B"))))` returns a procedure ins

[2020-04-13 18:04] linas commented on #193
Hi, OK, for starters, consult the documentation:
[code]
or
[code]
which explains that, given a function, returns a caching version of that function. (But it works only for functions that can take one Atom as the argument)  It is the non-thread-save variant of `memoize-function-call` function .. which also has documentation.

The fix, for you is this:
[code]

So ... now `cache-find-ggi` is a functi

[2020-04-13 18:07] linas commented on #193
BTW, are you using cytopscape for visualization, or gephi? I've started writing a export-to-gml function, so that I can use these to visualize some of the graphs... but it occurs to me that it would be nice to have a generic atomspace-to-js plugin that could work with cytoscape ...

[2020-04-13 18:26] Habush commented on #193
Thanks @linas! It works now.

We are using cytoscape for visualization. But the issue with cytoscape is its performance over large graphs, even those with 1000 nodes. And most of the results returned from the service have 1000+ nodes and 2000+ edges and cytoscape has been performing poorly. I recently discovered [ngraph](https://github.com/anvaka/ngraph) and it is crazy fast! Check out the benchma

[2020-04-13 18:32] Habush commented on #111
@linas how can we pass Atomese expressions like s-expression?

[2020-04-13 19:19] linas commented on #111
I don't think you need to convert Atomese to s-exprs, do what @rekado said above:  https://github.com/MOZI-AI/annotation-scheme/issues/111#issuecomment-601408253

[2020-04-13 20:42] #193 closed

[2020-04-16 17:23] Habush commented on #111
I made a fix for the above in #195. Please check it out.

[2020-04-20 15:05] mjsduncan commented on #192
@Habush that is covered under small molecules but having database specific filters as drug databases are added would be useful

[2020-04-24 08:17] Habush commented on #111
Closing this.

[2020-04-24 08:17] #111 closed

[2020-04-24 12:01] Habush opened #197 "Use channels for communication between parser and annotation functions"
In the current code,  we use `ListLink`s to return a bunch of results from pattern matching functions that are passed into the parser and also are written to files. As mentioned in #164, this creates issues with the Pattern Miner and it is memory inefficient. Hence, we should improve the current primitive threading by using [fibers](https://github.com/wingo/fibers) and use its [channel implementat

[2020-04-25 10:47] Habush opened #198 "Doing the same biogrid annotation more than once for a gene returns empty result"
Re-doing the same biogrid annotation twice will return an empty result in the second annotation. To reproduce this issue, load the sample dataset and run the following annotation twice:

[code]

This will return the correct annotation the first time but will return a set of empty `ListLink`s the second time.

The issue seems to originate from the use of guile futures (`par-map`) with the atom-set

[2020-04-25 21:55] Habush commented on #197
A simple demo [code](https://gist.github.com/Habush/2f103b4d71dbbba8e8e9ef2fd90d2587) for the above

[2020-04-25 21:59] Habush commented on #197
BTW @linas, one of the pitfalls mentioned in fibers is the use of guile [mutexes](https://github.com/wingo/fibers/wiki/Manual#34-mutexes). The author suggests replacing them with either [atomic boxes](https://www.gnu.org/software/guile/manual/html_node/Atomics.html) or channels. We use mutexes to guard the hash-table used in `make-afunc` from concurrent access. However, I am quited confused on how

[2020-04-25 22:32] linas commented on #197
Yes. Basically, everywhere you might have a `set!` in the code you have to replace it by `atomic-box-compare-and-swap!`  In the case of `make-afunc-cache, that code is here: github blah blah `atomspace-git/opencog/scm/opencog/base/atom-cache.scm` and it uses `hashx-set!` and somehow you'd have to wrap the `hashx-set!` with the `atomic-box-compare-and-swap!` in some way. This would take some experi

[2020-04-27 09:33] Habush commented on #197
Not only to write to files but also to send results to the atomese parser.

[2020-04-27 14:43] #198 closed

[2020-04-27 18:30] linas commented on #197
Sure, a callback to send results wherever. Again, you don't need fibers for this.

Somewhat unrelated, but .. why do you need an atomese parser? (or rather, what is an "atomese parser" and what does it do?)

[2020-04-27 18:31] linas commented on #197
As mentioned elsewhere, https://github.com/opencog/atomspace/issues/2553 describes a way of getting rid of most mutexes in the atomspace.

[2020-04-29 14:22] Habush commented on #185
@tanksha This is done in #194. Please check

[2020-04-29 14:25] #185 closed

[2020-04-30 11:35] Habush commented on #197
I like the fibers approach because it offers performance as the writer and parser communicated over different threads (needs to benchmark to verify this though). But like you noted, the callback approach is more straight-forward.

We use the atomese parser to output json for visualizing the results of the annotation. It basically converts atomese to json.

[2020-04-30 11:37] Habush commented on #197
I would like to take a stab at this if you are going to oversee my work and give me feedback. But since this will be my first real contribution to the atomspace, it might take me more effort (but also I will learn more about the code).

[2020-04-30 19:12] tanksha opened #203 "Add annotation option for SARS-CoV-2 genes to be included or not"
The Bio-atomspace dataset has humnas vs SARS-CoV-2 genes/proteins interaction and we need to give the user an option to include/not this relationships.

[2020-04-30 20:10] linas commented on #197
I think we are miscommunicating.  It's impossible to use  fibers without a callback. There has to be some way of calling the fiber code!  There has to be a point in the existing code, where you will make changes to place a function to invoke the fiber code! So you're going to be installing those function calls, no matter what: its technically impossible to not have them! And once you have them ..

[2020-05-02 07:18] rekado commented on #197
I recommend the introduction on Fibers and the distinction from callback hell: https://github.com/wingo/fibers/wiki/Manual

It behaves as a simple blocking queue; mental overhead is less than callbacks and promises.  It is a simple abstraction that's conceptually simpler than wrangling callbacks.  It is not per se more complex.

My advice is generally to use the simplest *abstraction* that models

[2020-05-02 09:32] linas commented on #197
Still there is a misunderstanding. Placing an item onto a queue requires a function call. Why not just make a function call to just *write the item out* ? How can interposing a queue between the creator and the consumer ever possibly be simpler than simply doing the thing itself, directly? Of course, it can't. You are focing me to use very complicated words to say something extremely simple: just

[2020-05-04 15:53] Habush commented on #197
In this particular case, there are many producers (the annotation functions) and two consumers (the parser and the file writer), hence a single direct function call isn't enough. Two consumers should take the same input and do different things to that input (one parses it to atomese and the other just writes to file)

[2020-05-04 16:08] linas commented on #197
OK ...

[2020-07-06 18:22] tanksha commented on #192
@leungmanhin  query expansion to include searching for non-gene nodes has been listed above, you can start with it. We will have the following functions
annotate-molecules (which will accept molecules like protein, chebi, coding RNA, non-coding RNA and )
annotate-go (when the input are GO terms
annotate-pathways (when the inputs are pathways Reactome, SMP, etc..)
...

[2020-08-11 16:00] tanksha opened #215 "Add pathways attribute for a node"
For the cell visualizer to do filtering based on a pathway, we need to add pathways as an attribute.
- Add a function which accepts a node (Gene, Uniprot or ChEbi node) and return their pathway (Reactome, SMP or PharmGkb pathways)

[2020-08-15 17:42] tanksha opened #218 "Unused function during refactor"
The function [gene-info](https://github.com/MOZI-AI/annotation-scheme/blob/master/annotation/main.scm#L71) is not being used, which makes all genes to dont have a location information (unless the pathway annotation is selected).

[2020-08-18 17:54] #218 closed

[2020-08-24 11:38] Habush commented on #197
Closing this as the support for using channels was added in #208

[2020-08-24 11:38] #197 closed

[2020-08-24 11:38] Habush commented on #184
Closing as this feature as been added in #208

[2020-08-24 11:38] #184 closed

[2020-08-24 11:39] Habush commented on #164
@tanksha is this a still issue? Please see the linked issues

[2020-08-24 11:41] Habush commented on #203
@tanksha This feature has been added in #204. Can you please check and close it the issue if it has been resolved?

[2020-08-24 11:42] Habush commented on #170
@linas , is this still an issue? I know it has been a while since you checked this codebase but all the tests pass right now.

[2020-08-24 14:49] linas commented on #170
Don't know, I don't plan to re-check.

[2020-08-24 14:49] #170 closed

[2020-08-24 14:54] linas commented on #164
pull req #165 that ameliorates this is still unmerged ...